<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>
		
			<%= link_to 'Schedule a class now!', schedule_class_path  %>
		
	</div>
</body>
</html>