<h1>Home!</h1>

<% if user_signed_in? %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'Sign In', new_user_session_path %>
<% end %>


<iframe src="https://appear.in/livelearning" width="800" height="640" frameborder="0"></iframe>


<iframe src="https://gregbressler.youcanbook.me/" width="800" height="640" frameborder="0"></iframe>