<h1>Editing Post</h1>
<div>
  <iframe src="https://appear.in/livelearning" width="640" height="640" frameborder="0"></iframe>
</div>
<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
